In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['1024']]

In [3]:
df_train.drop(df_train.columns[[1024]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
np.random.seed(1212)
import tensorflow as tf
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.set_image_data_format("channels_last")        #K.set_image_dim_ordering('th')

In [5]:

labels=np.array(labels)

In [6]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=42)

In [7]:
print(cat[0])

[1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [8]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
l=[]
for i in range(df_train.shape[0]):
    l.append(np.array(df_train[i:i+1]).reshape(32,32,1,1))

In [11]:
np.random.seed(7)

In [12]:
model = Sequential()
model.add(Conv2D(6, kernel_size=(5, 5), strides=(1, 1), activation='tanh', input_shape=(32,32,1), padding='same'))
model.add(AveragePooling2D(pool_size=(2, 2), strides=(2, 2), padding='same'))
model.add(Conv2D(16, kernel_size=(5, 5), strides=(1, 1), activation='tanh', padding='same'))
model.add(AveragePooling2D(pool_size=(2, 2), strides=(2, 2), padding='same'))
model.add(Flatten())
model.add(Dense(120, activation='tanh'))
model.add(Dense(84, activation='tanh'))
model.add(Dense(42, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [13]:
from keras.models import model_from_json

In [14]:
print(len(l),len(cat))
from sklearn.model_selection import train_test_split
l_train, l_test, cat_train, cat_test = train_test_split(l, cat, test_size=0.2, random_state=42)
print(len(l_train),len(cat_train),len(l_test),len(cat_test))

145171 145171
116136 116136 29035 29035

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 32, 32, 6)         156
_________________________________________________________________
average_pooling2d (AveragePo (None, 16, 16, 6)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 16, 16, 16)        2416
_________________________________________________________________
average_pooling2d_1 (Average (None, 8, 8, 16)          0
_________________________________________________________________
flatten (Flatten)            (None, 1024)              0
_________________________________________________________________
dense (Dense)                (None, 120)               123000
_________________________________________________________________
dense_1 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_2 (Dense)              (None, 42)                3570
=================================================================
Total params: 139,306
Trainable params: 139,306
Non-trainable params: 0
_________________________________________________________________

In [16]:
model.fit(np.array(l_train), np.array(cat_train), batch_size=200, epochs=10, shuffle=True,verbose=2)

Epoch 1/10
581/581 - 66s - loss: 0.9278 - accuracy: 0.7679
Epoch 2/10
581/581 - 62s - loss: 0.3587 - accuracy: 0.9040
Epoch 3/10
581/581 - 61s - loss: 0.2400 - accuracy: 0.9345
Epoch 4/10
581/581 - 60s - loss: 0.1777 - accuracy: 0.9513
Epoch 5/10
581/581 - 60s - loss: 0.1372 - accuracy: 0.9625
Epoch 6/10
581/581 - 59s - loss: 0.1094 - accuracy: 0.9707
Epoch 7/10
581/581 - 60s - loss: 0.0881 - accuracy: 0.9765
Epoch 8/10
581/581 - 60s - loss: 0.0736 - accuracy: 0.9805
Epoch 9/10
581/581 - 60s - loss: 0.0602 - accuracy: 0.9844
Epoch 10/10
581/581 - 61s - loss: 0.0507 - accuracy: 0.9871

In [17]:
print('Training accuracy')
model.evaluate(np.array(l_train), np.array(cat_train))
print('Validation accuracy')
model.evaluate(np.array(l_test), np.array(cat_test))

Training accuracy
3630/3630 [==============================] - 38s 10ms/step - loss: 0.0495 - accuracy: 0.9872
Validation accuracy
908/908 [==============================] - 9s 10ms/step - loss: 0.0898 - accuracy: 0.9751

[0.08984831720590591, 0.97513347864151]

In [18]:

# To prevent running by mistake
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")

In [19]:
model.save('model_save_final_lenet5_same_padding.h5')