In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['1024']]

In [3]:
df_train.drop(df_train.columns[[1024]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
np.random.seed(1212)
import tensorflow as tf
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.set_image_data_format("channels_last")        #K.set_image_dim_ordering('th')

In [5]:

labels=np.array(labels)

In [6]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=42)

In [7]:
print(cat[0])

[1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [8]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
l=[]
for i in range(df_train.shape[0]):
    l.append(np.array(df_train[i:i+1]).reshape(32,32,1,1))

In [10]:
np.random.seed(7)

In [11]:
model = Sequential()
model.add(Conv2D(4, kernel_size=(5, 5), strides=(1, 1), activation='tanh', input_shape=(32,32,1), padding='valid'))
model.add(AveragePooling2D(pool_size=(2, 2), strides=(2, 2), padding='valid'))
model.add(Conv2D(16, kernel_size=(5, 5), strides=(1, 1), activation='tanh', padding='valid'))
model.add(AveragePooling2D(pool_size=(2, 2), strides=(2, 2), padding='valid'))
model.add(Flatten())
model.add(Dense(120, activation='tanh'))
model.add(Dense(42, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [12]:
from keras.models import model_from_json

In [13]:
print(len(l),len(cat))
from sklearn.model_selection import train_test_split
l_train, l_test, cat_train, cat_test = train_test_split(l, cat, test_size=0.2, random_state=42)
print(len(l_train),len(cat_train),len(l_test),len(cat_test))

145171 145171
116136 116136 29035 29035

In [14]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 28, 28, 4)         104
_________________________________________________________________
average_pooling2d (AveragePo (None, 14, 14, 4)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 10, 10, 16)        1616
_________________________________________________________________
average_pooling2d_1 (Average (None, 5, 5, 16)          0
_________________________________________________________________
flatten (Flatten)            (None, 400)               0
_________________________________________________________________
dense (Dense)                (None, 120)               48120
_________________________________________________________________
dense_1 (Dense)              (None, 42)                5082
=================================================================
Total params: 54,922
Trainable params: 54,922
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.fit(np.array(l_train), np.array(cat_train), batch_size=200, epochs=10, shuffle=True,verbose=2)

Epoch 1/10
581/581 - 36s - loss: 1.2700 - accuracy: 0.6764
Epoch 2/10
581/581 - 33s - loss: 0.5782 - accuracy: 0.8463
Epoch 3/10
581/581 - 32s - loss: 0.4205 - accuracy: 0.8861
Epoch 4/10
581/581 - 32s - loss: 0.3374 - accuracy: 0.9077
Epoch 5/10
581/581 - 32s - loss: 0.2841 - accuracy: 0.9211
Epoch 6/10
581/581 - 32s - loss: 0.2447 - accuracy: 0.9329
Epoch 7/10
581/581 - 32s - loss: 0.2147 - accuracy: 0.9417
Epoch 8/10
581/581 - 32s - loss: 0.1895 - accuracy: 0.9488
Epoch 9/10
581/581 - 32s - loss: 0.1687 - accuracy: 0.9552
Epoch 10/10
581/581 - 32s - loss: 0.1511 - accuracy: 0.9595

In [16]:
print('Training accuracy')
model.evaluate(np.array(l_train), np.array(cat_train))
print('Validation accuracy')
model.evaluate(np.array(l_test), np.array(cat_test))

Training accuracy
3630/3630 [==============================] - 26s 7ms/step - loss: 0.1340 - accuracy: 0.9653
Validation accuracy
908/908 [==============================] - 6s 7ms/step - loss: 0.1774 - accuracy: 0.9517

[0.17743945121765137, 0.951678991317749]

In [17]:

# To prevent running by mistake
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")

In [17]:
model.save('model_save_final_lenet4.h5')