In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['784']]

In [3]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
np.random.seed(1212)
import tensorflow as tf
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.set_image_data_format("channels_last")        #K.set_image_dim_ordering('th')

In [5]:

labels=np.array(labels)

In [6]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=41)

In [7]:
print(cat[0])

[1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [8]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
l=[]
for i in range(df_train.shape[0]):
    l.append(np.array(df_train[i:i+1]).reshape(28,28,1,1))

In [10]:
np.random.seed(7)

In [11]:
model = Sequential()
model.add(Conv2D(30, (5, 5), input_shape=(28, 28, 1), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(41, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [12]:
from keras.models import model_from_json

In [13]:
print(len(l),len(cat))
from sklearn.model_selection import train_test_split
l_train, l_test, cat_train, cat_test = train_test_split(l, cat, test_size=0.2, random_state=42)
print(len(l_train),len(cat_train),len(l_test),len(cat_test))

144303 144303
115442 115442 28861 28861

In [14]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 24, 24, 30)        780
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 30)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 10, 10, 15)        4065
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 15)          0
_________________________________________________________________
dropout (Dropout)            (None, 5, 5, 15)          0
_________________________________________________________________
flatten (Flatten)            (None, 375)               0
_________________________________________________________________
dense (Dense)                (None, 128)               48128
_________________________________________________________________
dense_1 (Dense)              (None, 50)                6450
_________________________________________________________________
dense_2 (Dense)              (None, 41)                2091
=================================================================
Total params: 61,514
Trainable params: 61,514
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.fit(np.array(l_train), np.array(cat_train), batch_size=200, epochs=10, shuffle=True,verbose=2)

Epoch 1/10
578/578 - 53s - loss: 1.1869 - accuracy: 0.6847
Epoch 2/10
578/578 - 50s - loss: 0.4929 - accuracy: 0.8560
Epoch 3/10
578/578 - 51s - loss: 0.3840 - accuracy: 0.8860
Epoch 4/10
578/578 - 52s - loss: 0.3253 - accuracy: 0.9014
Epoch 5/10
578/578 - 53s - loss: 0.2892 - accuracy: 0.9112
Epoch 6/10
578/578 - 52s - loss: 0.2617 - accuracy: 0.9199
Epoch 7/10
578/578 - 51s - loss: 0.2374 - accuracy: 0.9259
Epoch 8/10
578/578 - 62s - loss: 0.2214 - accuracy: 0.9309
Epoch 9/10
578/578 - 55s - loss: 0.2066 - accuracy: 0.9355
Epoch 10/10
578/578 - 51s - loss: 0.1951 - accuracy: 0.9387

In [16]:
print('Training accuracy')
model.evaluate(np.array(l_train), np.array(cat_train))
print('Validation accuracy')
model.evaluate(np.array(l_test), np.array(cat_test))

Training accuracy
3608/3608 [==============================] - 28s 8ms/step - loss: 0.1249 - accuracy: 0.9616
Validation accuracy
902/902 [==============================] - 7s 8ms/step - loss: 0.1687 - accuracy: 0.9511

[0.16871605813503265, 0.9511104822158813]

In [17]:

# To prevent running by mistake
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")

In [18]:
model.save('model_save_final.h5')